/* CSS code */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333333;
  color: #FFF;
  text-align: center;
  padding: 0.5em;
  position: relative;
}

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Adjust the gap between profile picture and info */
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between profile picture and contact info */
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FFF;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust the gap between contact information */
}

.contact-info a {
  color: #006699;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.personal-info {
  flex-grow: 1; /* Allow the personal info to take remaining space */
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

p {
  margin: 0.3em 0;
  font-size: 1em;
}

section {
  max-width: 700px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000066;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
}

.fas,
.fab {
  font-family: 'Font Awesome 5 Free';
}

@media screen and (max-width: 768px) {
  .profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
  }

  .contact-info {
    margin-top: 5px;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}
